<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Surl</title>
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
<link rel="stylesheet" href="/styles/style.css">
<link rel="stylesheet" href="/styles/dark.css">
<link rel="stylesheet" href="/styles/light.css">
<script src="/js/script.js" defer></script>