<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Cache-control" content="public">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="msapplication-TileColor" content="#ffffff">

<!-- Primary Meta Tags -->
<title>Surl - Shorten URL</title>
<meta name="title" content="Surl - Shorten URL">
<meta name="description" content="Use SURL to shorten your long URLs and get the analytics of the generated short URL.">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://ursurl.herokuapp.com">
<meta property="og:title" content="Surl - Shorten URL">
<meta property="og:description"
    content="Use SURL to shorten your long URLs and get the analytics of the generated short URL.">
<meta property="og:image" content="https://ursurl.herokuapp.com/assets/ogimage.jpg">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://ursurl.herokuapp.com">
<meta property="twitter:title" content="Surl - Shorten URL">
<meta property="twitter:description"
    content="Use SURL to shorten your long URLs and get the analytics of the generated short URL.">
<meta property="twitter:image" content="https://ursurl.herokuapp.com/assets/ogimage.jpg">

<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
<link rel="stylesheet" href="/styles/style.css">
<link rel="stylesheet" href="/styles/dark.css">
<link rel="stylesheet" href="/styles/light.css">
<script src="/js/script.js" defer></script>