<header class="header">
    <div class="logo-div">
        <img src="/assets/logo.png" alt="Surl Logo" width="32px" height="32px">
        <p class="logo-text">surl</p>
    </div>
    <button id="theme-btn" class="theme-btn"></button>
</header>