<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="none" id="parent">
    <%- include('../partials/header'); %>
        <div class="hero-div">
            <p class="hero-text"><span class="color-text">S</span>hort <span class="color-text">URL</span> Hits</p>
            <p class="hero-text">
                <%= hits %>
            </p>
        </div>
</body>

</html>