@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");

:root {
	--darkColor: #011747;
	--lightColor: #fff;
	--pColor: #ff9f00;
	--sColor: #ffd400;
	--tColor: #4a696f;
}

body {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	font-family: "Nunito", sans-serif;
	cursor: default;
}

input,
button {
	font-family: "Nunito", sans-serif;
}

input:focus,
input:visited,
input:active {
	outline: none;
}

.header {
	display: flex;
	flex-direction: row;
	height: 80px;
	margin: 0 6%;
	justify-content: space-between;
	align-items: center;
}

.logo-div {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.logo-text {
	font-weight: 700;
	font-size: 28px;
	letter-spacing: 1px;
	margin-left: 15px;
}

.theme-btn {
	height: fit-content;
	width: fit-content;
	padding: 8px 16px;
	border: none;
	border-radius: 8px;
	opacity: 0.7;
	letter-spacing: 1px;
	font-weight: 600;
	background-color: transparent;
	cursor: pointer;
}

.hero-div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 10vh;
}

.hero-text {
	font-size: 64px;
	font-weight: 700;
}

.color-text {
	letter-spacing: 1px;
}

.input-div {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	column-gap: 20px;
}

.url-input {
	height: 48px;
	width: 400px;
	border: none;
	border-radius: 16px;
	padding: 2px 22px;
	font-size: 16px;
}

.surl-btn {
	height: 52px;
	padding: 2 22px;
	border-radius: 16px;
	width: 160px;
	font-size: 18px;
	border: none;
	font-weight: 700;
	letter-spacing: 1px;
	cursor: pointer;
}

.result-div {
	position: relative;
	display: none;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	column-gap: 20px;
	width: fit-content;
	margin: auto;
	margin-top: 40px;
	padding: 4px 16px;
	height: 40px;
	border-radius: 12px;
	font-weight: 400;
	cursor: pointer;
	border: solid 2px var(--tColor);
}

.result-link {
	letter-spacing: 1px;
}

.result-div .copy-tooltip {
	visibility: hidden;
	background-color: #0f0f0f;
	color: #fff;
	font-size: 12px;
	text-align: center;
	border-radius: 6px;
	padding: 5px 10px;
	position: absolute;
	bottom: -40px;
	z-index: 1;
	opacity: 0.8;
}

.result-div:hover .copy-tooltip {
	visibility: visible;
}

.error-block {
	position: fixed;
	display: none;
	top: 100px;
	right: 6%;
	width: fit-content;
	color: #f8131f;
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 1px;
	padding: 10px 16px;
	border-radius: 8px;
	border: solid 2px #f8131f;
}
